<% if false %>
  <!-- TODO temparary remove from view -->
  <div class="left six columns alpha">
    <div class="field">
      <%= f.label :can_be_part, t('spree.can_be_part')%>
      <%= f.check_box(:can_be_part) %>
    </div>
  </div>
  <div class="right six columns omega">
    <div class="field">
      <%= f.label :individual_sale, t('spree.individual_sale')%>
      <%= f.check_box(:individual_sale) %>
    </div>
  </div>
<% end %>

<% if @product.assembly? %>
  <% content_for :head do %>
    <script type="text/javascript">
      jQuery(document).ready(function(){
              $("input[id='product_on_hand']").attr('disabled',true).parent().hide();
              $("input#product_can_be_part").attr('disabled',true);
            });
    </script>
  <% end %>
<% end %>
