<table class="index">
  <thead>
  	<tr>
  	  <th><%= t('spree.sku') %></th>
      <th><%= t('spree.name') %></th>
      <th><%= t('spree.available_on') %></th>
  		<th><%= t('spree.options') %></th>
  		<th><%= t('spree.qty') %></th>
  	</tr>
  </thead>
  <tbody>
    <% parts.each do |part| %>
      <tr id="<%= dom_id(part, :sel)%>">
        <td><%= part.sku %></td>
        <td><%= part.product.name %></td>
        <td><%= part.product.available_on %></td>
        <td><%= variant_options part %></td>
        <% if can? :manage, @product%>
          <td><%= text_field_tag :count, @product.count_of(part) %></td>
        <% else %>
          <td><%= @product.count_of(part) %></td>
        <% end %>
        <% if can? :manage, @product%>
          <td class="actions">
            <%= link_to_with_icon(
              'edit',
              t('spree.actions.edit'),
              set_count_admin_product_part_url(@product, part),
              :class => "set_count_admin_product_part_link save-line-item") %>

            <%= link_to_with_icon(
            'delete',
            t('spree.actions.delete'),
            remove_admin_product_part_url(@product, part),
            class: "remove_admin_product_part_link delete-line-item") %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <% if parts.empty? %>
      <tr><td colspan="5"><%= t('spree.none') %>.</td></tr>
    <% end %>
  </tbody>
</table>
<%= javascript_tag("subscribe_product_part_links();") if request.xhr? %>

